.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
        
}
.singlePricing{
    width:calc(33.33% - 30px);
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    transition: all ease 0.3s;
    
}
.singlePricing:hover{
    transform: scale(1.1);
    border: 2px solid #FBB040;
    cursor: pointer;
}
.textPricingContainer{
    margin-bottom: 30px;
}

.textPricingContainer h1{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.textPricingContainer p{
    font-size: 25px;
    font-weight: 400;
    margin: 0;  
    padding: 0;
}
.textDesc{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: left;
    padding: 15px 0px;
}
.title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.price{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #959CB1;
}
.text{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    color:#575f6b;

}
.buyBtn{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(to right, #489BEF , #0DC9C8);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all ease 0.3s;;       
    
}
.buyBtn:hover{
    transform: scale(1.1);
    cursor: pointer;

}
.iconsContainer{
    margin-top: 35px;

    
}
.icon{
    display: flex;
    margin: 0 5px;
    font-size: 20px;
    transition: 0.3s;
}
.icon:hover{
    color: #000;
}
.iconText{
    margin-left:0.5rem;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #959cb1;    
}
.checkIcon{
    background-color: #ECF0FE;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.crossIcon{
    background-color: #ECF0FE;
    width: 18px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


